<div class="sidenav-container">
    <mat-toolbar color="primary" class="sidenav-toolbar">
        <button mat-icon-button (click)="snav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <h1 class="sidenav-app-name">Logical Dishes</h1>
    </mat-toolbar>

    <mat-sidenav-container class="sidenav-sidenav-container" [style.paddingTop.%]="mobileQuery.matches ? 5 : 2">
        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" fixedTopGap="5%">
            <mat-nav-list>
                <!--Funzione che ti setta i link correttamente-->
                <!--Perfetto, cosí con i link funziona-->
                <a mat-list-item class="vertical" routerLink="./free-suborders/">ORDINI LIBERI</a>
                <a mat-list-item class="vertical" routerLink="./my-suborders/">ORDINI DA PREPARARE</a>
                <a mat-list-item class="vertical" class="logout-item" (click)=logout()>Logout</a>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content>
            <!--Da capire come implementare per le varie funzioni da vedere a seconda di cosa premi sulla sidenav-->
            <!--Carica solamente il router outer-->
            <div *ngIf="router.url === '/user/barman'" class="content">
                <p class="description"> Hai fatto il login come barman, hai accesso a queste funzioni:
                </p>
                <ul class="list">
                    <li>per prendersi responsabilità di un ordine usare la funzione 'Ordini Liberi'.</li>
                    <li>per vedere gli ordini di cui sei responsabile usare la funzione 'Ordini da Preparare</li>
                </ul>
            </div>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>