<div class="sidenav-container">
    <mat-toolbar color="primary" class="sidenav-toolbar">
        <button mat-icon-button (click)="snav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <h1 class="sidenav-app-name">Logical Dishes</h1>
    </mat-toolbar>

    <mat-sidenav-container class="sidenav-sidenav-container" [style.paddingTop.%]="mobileQuery.matches ? 5 : 2">
        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" fixedTopGap="5%">
            <mat-nav-list>
                <!--Funzione che ti setta i link correttamente-->
                <!--Perfetto, cosí con i link funziona-->
                <a mat-list-item class="vertical" routerLink="./bills/" (click)="setOff('bills')"><span matBadge="!"
                        [matBadgeHidden]='!ntf_bills' matBadgeOverlap="false">FATTURAZIONE</span></a>
                <a mat-list-item class="vertical" routerLink="./tables/" (click)="setOff('tables')">TAVOLI</a>
                <a mat-list-item class="vertical" routerLink="./orders/" (click)="setOff('orders')">ORDINI</a>
                <a mat-list-item class="vertical" routerLink="./statistics/"
                    (click)="setOff('statistics')">STATISTICHE</a>
                <a mat-list-item class="vertical" routerLink="./receipts/" (click)="setOff('receipts')">INCASSI</a>
                <a mat-list-item class="logout-item" (click)=logout()>Logout</a>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content>
            <!--Da capire come implementare per le varie funzioni da vedere a seconda di cosa premi sulla sidenav-->
            <!--Carica solamente il router outer-->
            <div *ngIf="router.url === '/user/cashier'" class="content">
                <p class="description"> Hai fatto il login come cassiere, hai accesso a queste funzioni:
                </p>
                <ul class="list">
                    <li>per liberare un tavolo e procedere a fare uno scontrino usare la funzione 'Fatturazione'.</li>
                    <li>per consultare le informazioni sui tavoli ,o aggiungere quest'ultimi, usare la funzione 'Tavoli'.
                    </li>
                    <li>per consultare le informazione sugli ordini usare la funzione 'Ordini'.</li>
                    <li>per consultare le statistiche sui camerieri usare la funzione 'Statistiche'.</li>
                    <li>per consultare lo storico degli incassi usare la funzione 'Incassi'.</li>
                    <li>per gestire la registrazione di utenti usare la funzione 'Registrazione'.</li>
                </ul>
            </div>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>