<router-outlet></router-outlet>
<div class="container">
    <span *ngIf=view_orders>
        <mat-accordion>
            <ng-container *ngFor="let Order of allNotCompleteOrder">
                <mat-expansion-panel class="prova">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <div class="titolo"> TAVOLO {{Order.table}}
                            </div>
                        </mat-panel-title>
                        <mat-panel-description>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <mat-accordion>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <div class="ord">ORDINI SERVITI</div>
                                </mat-panel-title>
                                <mat-panel-description>
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            

                                <div class="ext">
                                    <div class="part">
                                        <div class="cibi">PIATTI:</div>
                                        <mat-list>
                                            <ng-container *ngFor="let elemSuborder of Order.elements_order">
                                                <ng-container *ngFor="let food_elem of elemSuborder.foods_order">
                                                    <mat-list-item *ngIf="elemSuborder.state.foods_served" class="nice">

                                                        <div>{{food_elem.quantity}}x {{food_elem.name_element_menu}}
                                                        </div>
                                                        <div *ngIf="elemSuborder.state.foods_complete" class="extra">
                                                            | Preparato</div>
                                                        <div *ngIf="!elemSuborder.state.foods_complete" class="extra">
                                                            | Da preparare
                                                        </div>

                                                    </mat-list-item>
                                                </ng-container>
                                            </ng-container>
                                        </mat-list>
                                    </div>

                                    <mat-divider></mat-divider>
                                    <div class="part">
                                        <div class="cibi">BEVANDE:</div>
                                        <mat-list>
                                            <ng-container *ngFor="let elemSuborder of Order.elements_order">
                                                <ng-container *ngFor="let drink_elem of elemSuborder.drinks_order">
                                                    <mat-list-item *ngIf="elemSuborder.state.drinks_served"
                                                        class="nice">
                                                        <div>
                                                            {{drink_elem.quantity}}x {{drink_elem.name_element_menu}}
                                                        </div>
                                                        <div *ngIf="elemSuborder.state.drinks_complete" class="extra">
                                                                | Preparato</div>
                                                        <div *ngIf="!elemSuborder.state.drinks_complete" class="extra">
                                                            | Da preparare
                                                        </div>
                                                    </mat-list-item>
                                                </ng-container>
                                            </ng-container>
                                        </mat-list>
                                    </div>
                                </div>

                        </mat-expansion-panel>
                    
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <div class="ord">ORDINI DA SERVIRE</div>
                                </mat-panel-title>
                                <mat-panel-description>
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            
                                <div class="ext">
                                    <div class="part">
                                        <div class="cibi">PIATTI:</div>
                                        <mat-list>
                                            <ng-container *ngFor="let elemSuborder of Order.elements_order">
                                                <ng-container *ngFor="let food_elem of elemSuborder.foods_order">
                                                    <mat-list-item *ngIf="!elemSuborder.state.foods_served"
                                                        class="nice">
                                                        {{food_elem.quantity}}x {{food_elem.name_element_menu}}
                                                        <div *ngIf="elemSuborder.state.foods_complete" class="extra">
                                                            | Preparato</div>
                                                        <div *ngIf="!elemSuborder.state.foods_complete" class="extra">
                                                            | Da preparare
                                                        </div>
                                                    </mat-list-item>
                                                </ng-container>
                                            </ng-container>
                                        </mat-list>
                                    </div>
                                    <mat-divider></mat-divider>
                                    <div class="part">
                                        <div class="cibi">BEVANDE:</div>
                                        <mat-list>
                                            <ng-container *ngFor="let elemSuborder of Order.elements_order">
                                                <ng-container *ngFor="let drink_elem of elemSuborder.drinks_order">
                                                    <mat-list-item *ngIf="!elemSuborder.state.drinks_served"
                                                        class="nice">
                                                        {{drink_elem.quantity}}x {{drink_elem.name_element_menu}}
                                                        <div *ngIf="elemSuborder.state.drinks_complete" class="extra">
                                                            | Preparato</div>
                                                        <div *ngIf="!elemSuborder.state.drinks_complete" class="extra">
                                                            | Da preparare
                                                        </div>
                                                    </mat-list-item>
                                                </ng-container>
                                            </ng-container>
                                        </mat-list>
                                    </div>
                                </div>
 
                        </mat-expansion-panel>
                    </mat-accordion>
                </mat-expansion-panel>
            </ng-container>
        </mat-accordion>
    </span>
    <div *ngIf=!view_orders class="vuoto">Nessun ordine è in corso!</div>
</div>