.vuoto {
  font-size: 24px;
}

.container {
  display: flex;
  justify-content: center;
}
.btn_submit {
  display: flex;
  justify-content: center;
  margin: 0px 0px 0px 0px;
}

.mat-expansion-panel-header {
  height: 30px;
}

.wrappu {
  padding: 0 24px 20px;
}

.wrapper {
  padding: 0 0px 10px;
}

mat-panel-title {
  font-size: 24px;
}

mat-expansion-panel {
  width: 800px;
}

.modify {
  display: flex;
  flex-direction: row;
}

.btn_term {
  position: relative;
  left: 30px;
  bottom: 15px;
}

@media screen and (max-width: 900px) {
  mat-expansion-panel {
    width: 420px;
  }

  .btn_submit {
    margin: 10px 0px 0px 0px;
  }
}

@media screen and (max-width: 435px) {
  .modify {
    margin: 20px 0px 30px 0px;
  }

  .modify {
    display: flex;
    flex-direction: column;
  }

  .btn_submit {
    position: relative;
    width: 120px;
    left: 47px;
  }

  mat-list {
    padding: 0px 0px 0px 0px;
  }
  mat-expansion-panel {
    width: 335px;
  }
}

@media screen and (max-width: 335px) {
  .modify {
    margin: 25px 0px 50px 0px;
  }
  mat-expansion-panel {
    width: 280px;
  }
}
