.content {
  top: 10%;
  font-size: 20px;
}

.description {
  position: relative;
  text-align: center;
  margin: 10px 0px;
}

ul {
  display: table;
  margin: 0 auto;
}

mat-nav-list:first-child {
  margin-top: 16px;
}

mat-sidenav-container {
  height: auto !important;
  max-width: 100%;
  margin: 0;
  padding: 0px 0px 0px;
  -webkit-transform: none;
  transform: none;
}

.vertical {
  font-size:16px;
}

mat-sidenav {
  position: fixed;
  top: 64px;
  bottom: 0;
  left: 0;
  padding: 0;
  min-width: 260px;
  background-color: #fff;
  box-shadow: 6px 0 6px rgba(0, 0, 0, 0.1);
}

@media (max-width: 599px){
  .mat-toolbar-row, .mat-toolbar-single-row{
    height: 64px;
  }
}
