<div class="sidenav-container">
    <mat-toolbar color="primary" class="sidenav-toolbar">
        <button mat-icon-button (click)="snav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <h1 class="sidenav-app-name">Logical Dishes</h1>
    </mat-toolbar>

    <mat-sidenav-container class="sidenav-sidenav-container" [style.paddingTop.%]="mobileQuery.matches ? 5 : 2" >
        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
            fixedTopGap="5%">
            <mat-nav-list>
                <!--Funzione che ti setta i link correttamente-->
                <!--Perfetto, cosí con i link funziona-->
                <a mat-list-item routerLink="./tables/">TAVOLI</a>
                <a mat-list-item routerLink="./orders/">ORDINI</a>
                <a mat-list-item routerLink="./arrival/">ARRIVI</a>
                <a mat-list-item class="logout-item" (click)=logout()>Logout</a>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content>
            <!--Da capire come implementare per le varie funzioni da vedere a seconda di cosa premi sulla sidenav-->
            <!--Carica solamente il router outer-->
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>