.ext {
  position: relative;
  left: 40px;

  margin: 15px 0px 0px 0px;
}

.cibi {
  font-size: 20px;
}
.titolo {
  font-size: 24px;
}
.mat-list-item{
  height: 24px;
}

.btn_submit{
    margin: 15px 0px 20px 0px; 
}

.mat-expansion-panel-body{
    background-color: lightblue;
}

.container{
    text-align: center;
}
.containercontainer{
    text-align: left;
}

.vuoto{
    font-size: 24px;
    
}