.ext {
  position: relative;
  left: 40px;
  margin: 15px 0px 0px 0px;
}

.container {
  display: flex;
  justify-content: center;
  margin:auto;
}


mat-expansion-panel{
  width:800px;
}


.cibi {
  font-size: 20px;
}
.titolo {
  font-size: 24px;
}
.mat-list-item {
  height: 24px;
}

.btn_submit {
  margin: 15px 0px 20px 0px;
}

.container {
  text-align: center;
}
.containercontainer {
  text-align: left;
}

.vuoto {
  font-size: 24px;
}


@media screen and (max-width: 1060px) {
  mat-expansion-panel{
    width:420px;
  }
  .titolo{
    font-size: 20px;
  }
}

@media screen and (max-width: 435px) {
  mat-expansion-panel {
    width: 335px;
  }

  .titolo{
    font-size: 18px;
  }
  
}

@media screen and (max-width: 335px) {
  mat-expansion-panel {
    width: 280px;
  }
  .titolo{
    font-size: 16px;
  }
}
