<div class="flex">

    <header>
        <div class="logo-container">
            <div class="logo"></div>
        </div>
    </header>

    <div class="corpo">

        <div class="intro-text">
            <h1>LOGICAL DISHES</h1>
            <p> Logical Dishes è un gestionale per ristoranti ideato per
                un apprendimento facile e veloce grazie a una interfaccia semplice e minimale.
            </p>
        </div>

        <div class=bottoni>

            <button class="btn_login" mat-raised-button color="primary" (click)="goLogin()">
                LOGIN
            </button>
            <!--

                <button class="btn_register" mat-raised-button color="primary" (click)="goRegister()">
                REGISTRATI
            </button>

            -->

        </div>

    </div>





</div>