<router-outlet></router-outlet>
<div class="container">
    <div>
        <div center="center">
            <button mat-flat-button color="primary" (click)="addTable()">NUOVO TAVOLO</button>
            <span *ngIf=add_table>
                <form [formGroup]="form_add_table" (ngSubmit)="postNewTable()">
                    <mat-form-field>
                        <input type="number" matInput placeholder="Numero" formControlName="input_name_table">
                    </mat-form-field>
                    <mat-form-field>
                        <input type="number" matInput placeholder="Posti" formControlName="input_seats">
                    </mat-form-field>
                    <button type="submit" mat-flat-button color="warn">AGGIUNGI TAVOLO</button>
                </form>
            </span>
        </div>
        <span *ngIf=view_tables>
            <div class="grid">
                <mat-grid-list [cols]="breakpoint" gutterSize="6px" rowHeight="60px" (window:resize)="onResize($event)">
                    <mat-grid-tile *ngFor="let table of allTables" (click)="getInfoTable(table.name_table)"
                        [ngClass]="table.busy ? 'bus' : 'notbus'">{{table.name_table}}</mat-grid-tile>
                </mat-grid-list>
            </div>

            <div class="selTable">
                <mat-list *ngIf="selectedTable">
                    <mat-list-item>
                        <div class="table"> Tavolo {{selectedTable.name_table}} </div>
                    </mat-list-item>
                    <mat-list-item> Posti: {{selectedTable.seats}} </mat-list-item>
                    <mat-list-item *ngIf=selectedTable.busy> Stato: Occupato </mat-list-item>
                    <mat-list-item *ngIf=!selectedTable.busy> Stato: Non Occupato </mat-list-item>
                    <mat-list-item *ngIf="selectedTable.waiter"> Cameriere Responsabile: {{selectedTable.waiter}}
                    </mat-list-item>
                    <mat-list-item *ngIf="selectedTable.id_order"> ID Ordine: {{selectedTable.id_order}}
                    </mat-list-item>
                </mat-list>
            </div>

        </span>
    </div>
    <div class="center">
        <div *ngIf="erroreTavoloDuplicato" class="error">Tavolo già esistente!</div>
    </div>
</div>