<router-outlet></router-outlet>
<div class="container">
    <div>
        <span *ngIf=view_bills>
            <mat-accordion>
                <ng-container *ngFor="let Order of allServedNotCompleteOrder">
                    <mat-expansion-panel class="prova">
                        <mat-expansion-panel-header>
                            <mat-panel-title class="imp">
                                <div class="titolo">
                                    TAVOLO {{Order.table}}, all_served {{Order.state_order.all_served}}
                                </div>

                                <!--<div class="titolo">
                                    ID ORDINE : {{Order.id_order}}
                                    <div *ngIf="Order.state_order.all_served"> | SERVIZIO COMPLETATO</div>
                                    <div *ngIf="!Order.state_order.all_served"> | SERVIZIO INCOMPLETO</div>
                                    TOT_PRICE: {{Order.tot}}
                                </div>
                                -->

                            </mat-panel-title>
                            <mat-panel-description>
                            </mat-panel-description>
                        </mat-expansion-panel-header>

                        <div class="center">
                            <table matSort>
                                <tr>
                                    <th mat-sort-header="name">Nome</th>
                                    <th mat-sort-header="quantity">Quantità</th>
                                    <th mat-sort-header="price">Prezzo</th>
                                </tr>


                                <ng-container *ngFor="let elemSuborder of Order.elements_order">
                                    <tr [ngClass]="elemSuborder.state.foods_served ? 'served' : 'notServed'"
                                        *ngFor="let food_elem of elemSuborder.foods_order">
                                        <td>{{food_elem.name_element_menu}}</td>
                                        <td>{{food_elem.quantity}}</td>
                                        <td>{{food_elem.quantity * food_elem.price}}€</td>
                                    </tr>

                                    <tr [ngClass]="elemSuborder.state.drinks_served ? 'served' : 'notServed'"
                                        *ngFor="let drink_elem of elemSuborder.drinks_order">
                                        <td>{{drink_elem.name_element_menu}}</td>
                                        <td>{{drink_elem.quantity}}</td>
                                        <td>{{drink_elem.quantity * drink_elem.price}}€</td>
                                    </tr>
                                </ng-container>
                                <tr>
                                    <td>-------</td>
                                </tr>

                                <tr>
                                    <td>TOTALE:</td>
                                    <td></td>
                                    <td>{{Order.tot}}€</td>
                                </tr>
                            </table>
                        </div>

                        <button mat-flat-button color="primary"
                            (click)="completeOrder(Order.id_order, Order.table)">BATTI SCONTRINO</button>
                    </mat-expansion-panel>
                </ng-container>
            </mat-accordion>
        </span>
    </div>
    <div *ngIf=!view_bills class="vuoto">Nessun ordine ancora da fatturare!</div>
</div>