.container {
  max-width: 500px;
  width: 80%;
  margin: auto;
}

.logo {
  height: 190px;
  width: 100%;
  padding: 10px;
  margin: 0 auto;
  margin-top: 32px;
  margin-bottom: 32px;
  background: url("../../images/logo.jpg") no-repeat center center;
}

form {
  max-width: 400px;
  margin: auto;
}

.field-login {
  width: 100%;
}

button,
mat-form-field,
mat-option,
mat-select {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

.field-login {
  width: 100%;
}

.center {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
}

.error {
  color: #f44336;
  padding: 20px 0px;
  font-size: 18px;
}

@media screen and (max-width: 650px) {
  .logo {
    background: url("../../images/logomin.jpg") no-repeat center center;
    width: 50vh;
  }
}
@media screen and (max-height: 700px) {
  .logo {
    background: url("../../images/logomin.jpg") no-repeat center center;
    width: 50vh;
  }
}
