<div class=container>


  <header>
    <div class="logo"></div>
  </header>


  <form>
    <mat-form-field class="field-login">
      <input type="email" matInput placeholder="Mail" #emailLogin>
    </mat-form-field>

    <mat-form-field class="field-login">
      <input type="password" matInput placeholder="Password" #passwordLogin>
    </mat-form-field>
  </form>
  <div class="center">
    <button class="btn_login" mat-raised-button color="primary"
      (click)="sendLogin(emailLogin.value, passwordLogin.value)">
      LOGIN
    </button>
  </div>

</div>