<div class=container>


  <header>
    <div class="logo"></div>
  </header>


  <form>
    <mat-form-field class="field-login">
      <input type="email" matInput placeholder="Mail" #emailLogin>
    </mat-form-field>

    <mat-form-field class="field-login">
      <input type="password" matInput placeholder="Password" #passwordLogin>
    </mat-form-field>
  </form>
  <div class="center">
    <button class="btn_login" mat-raised-button color="primary"
      (click)="sendLogin(emailLogin.value, passwordLogin.value)">
      LOGIN
    </button>
  </div>

  <div class="center">
    <div *ngIf="erroreLungMail" class="error">La mail deve essere lunga almeno 6 caratteri!</div>
    <div *ngIf="erroreMail" class="error">La mail deve essere valida!</div>
    <div *ngIf="erroreLungPass" class="error">La password deve essere lunga almeno 6 caratteri!</div>
    <div *ngIf="erroreVuoto" class="error">I campi devono essere entrambi riempiti!</div>
    <div *ngIf="erroreLog" class="error">Email o Password errate!</div>
  </div>

</div>