<router-outlet></router-outlet>
<div class="container">
    <div>
        <span>
            <form [formGroup]="form_my_tables" (ngSubmit)="openMenu()">
                <mat-form-field>
                    <mat-label>Seleziona il Tavolo</mat-label>
                    <mat-select formControlName="my_table">
                        <mat-option *ngFor="let table of myTables" [value]="table.name_table">
                            {{table.name_table}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <button type="submit" mat-flat-button color="primary">CERCA</button>
            </form>
        </span>
    </div>
</div>