<router-outlet></router-outlet>
<div class="container">
    <div>
        <span>

            <form [formGroup]="form_my_tables" (ngSubmit)="getMenu()">
                <mat-form-field>
                    <mat-label>Seleziona il Tavolo</mat-label>
                    <mat-select formControlName="my_table">
                        <mat-option *ngFor="let table of myTables" [value]="table.name_table">
                            {{table.name_table}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <button type="submit" mat-flat-button color="primary">CERCA</button>
            </form>


            <!--
            <form [formGroup]="form_my_tables" (ngSubmit)="getMenu()">

                <label>Seleziona il Tavolo:</label>

                <mat-grid-list [cols]="breakpoint" rowHeight="1:1" (window:resize)="onResize($event)" ng-click="getMenu()">
                    <mat-grid-tile *ngFor="let table of myTables">
                        {{table.name_table}} </mat-grid-tile>
                </mat-grid-list>


            </form>
            -->




        </span>
        <div *ngIf=view_btn_menu class="btn_search">
            <button mat-flat-button color="primary" (click)="showMenu()">MOSTRA MENU</button>
        </div>
        <span *ngIf=view_menu>
            <mat-accordion>
                <ng-container *ngFor="let category of completeMenu; index as i">

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                {{i + 1}}: {{category.category}}
                            </mat-panel-title>
                            <mat-panel-description>
                            </mat-panel-description>
                        </mat-expansion-panel-header>

                        <mat-accordion>
                            <ng-container *ngFor="let element of category.elements_category; index as u">


                                <mat-expansion-panel [@.disabled]="true">
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            {{i + 1}}.{{u + 1}}: {{ element.name_element_menu }}
                                        </mat-panel-title>
                                        <mat-panel-description>
                                        </mat-panel-description>
                                    </mat-expansion-panel-header>
                                    <form [formGroup]="form_element_order[i][u]" (ngSubmit)="addElementOrder(i, u)">
                                        <mat-form-field>
                                            <input type="number" min=1 matInput formControlName="add_element_order">
                                        </mat-form-field>
                                        <button type="submit" mat-flat-button color="primary">ADD</button>
                                    </form>
                                </mat-expansion-panel>


                            </ng-container>
                        </mat-accordion>

                    </mat-expansion-panel>

                </ng-container>
            </mat-accordion>
        </span>

        <span *ngIf=view_recap_order class="expansion">
            <mat-accordion>
                <label class="ordineA">Ordine Attuale:</label>
                <span *ngIf="view_recap_foods">
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                CIBI
                            </mat-panel-title>
                            <mat-panel-description>
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <p *ngFor="let ElementOrder of foods_order">
                            {{ElementOrder.quantity}}x {{ElementOrder.name_element_menu}}
                        </p>
                    </mat-expansion-panel>
                </span>
                <span *ngIf="view_recap_drinks">
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                BEVANDE
                            </mat-panel-title>
                            <mat-panel-description>
                            </mat-panel-description>
                        </mat-expansion-panel-header>

                        <p *ngFor="let ElementOrder of drinks_order">
                            {{ElementOrder.quantity}}x {{ElementOrder.name_element_menu}}
                        </p>
                    </mat-expansion-panel>
                </span>
            </mat-accordion>
            <div class="btn_search">
                <button mat-flat-button color="primary" (click)="sendOrder()">INVIA ORDINE</button>
            </div>
        </span>
    </div>
</div>