/* You can add global styles to this file, and also import other style files */
@import "src/my-theme.scss";

* {
  font-family: "Poppins", sans-serif;
}

html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
}

// Sidenav Style

.sidenav-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.mat-flat-button .mat-warn{
  min-width: 0px;
  line-height: 0px;
  padding: 0 0; 
}

@media screen and (max-width: 1060px) {
  .mat-list .mat-list-item.nice .mat-list-item-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 20px 0px 20px 0px;
  }
}

@media screen and (max-width: 335px) {
  .mat-list .mat-list-item.nice .mat-list-item-content {
    margin: 20px 0px 30px 0px;
    padding: 0px 0px 60px 0px;
  }
}

.sidenav-is-mobile .sidenav-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

h1.sidenav-app-name {
  margin-left: 8px;
}

.sidenav-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.sidenav-is-mobile .sidenav-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

.logout-item {
  position: absolute;
  bottom: 0;
  left: 0;
}

/* TOGLIERE IL CAMPO [query] sulla sidenav [style.marginTop.px]="mobileQuery.matches ? 56 : 10" */

/*
.mat-drawer-content {
  margin-top: 2%;
}*/
