<router-outlet></router-outlet>
<div class="container">
    <span *ngIf=view_users>
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        WAITERS
                    </mat-panel-title>
                    <mat-panel-description>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <mat-list>
                    <ng-container *ngFor="let user of allUsers">
                        <mat-list-item *ngIf="user.task=='waiter'">
                            NAME: {{user.name}}, SUBORDERS SERVITI: {{user.actions}}
                        </mat-list-item>
                    </ng-container>
                </mat-list>
            </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        BARMAN
                    </mat-panel-title>
                    <mat-panel-description>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <mat-list>
                    <ng-container *ngFor="let user of allUsers">
                        <mat-list-item *ngIf="user.task=='barman'">
                            NAME: {{user.name}}, SUBORDERS COMPLETATI: {{user.actions}}
                        </mat-list-item>
                    </ng-container>
                </mat-list>
            </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        COOK
                    </mat-panel-title>
                    <mat-panel-description>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <mat-list>
                    <ng-container *ngFor="let user of allUsers">
                        <mat-list-item *ngIf="user.task=='cook'">
                            NAME: {{user.name}}, SUBORDERS COMPLETATI: {{user.actions}}
                        </mat-list-item>
                    </ng-container>
                </mat-list>
            </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        CASHIER
                    </mat-panel-title>
                    <mat-panel-description>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <mat-list>
                    <ng-container *ngFor="let user of allUsers">
                        <mat-list-item *ngIf="user.task=='cashier'">
                            NAME: {{user.name}}, SCONTRINI BATTUTI: {{user.actions}}
                        </mat-list-item>
                    </ng-container>
                </mat-list>
            </mat-expansion-panel>
        </mat-accordion>
    </span>
</div>