.container {
  display: flex;
  justify-content: center;
}

.btn_submit {
  display: flex;
  justify-content: center;
  margin: 15px 0;
}

.vuoto{
  font-size: 24px;
}

.mat-list-base{
  margin: 0px 0px 0px 0px; 
}