.container {
  max-width: 500px;
  width: 80%;
  margin: auto;
}

.logo {
  height: 190px;
  width: 100%;
  padding: 10px;
  margin: 0 auto;
  margin-top: 32px;
  margin-bottom: 32px;
  background: url("../../images/logo.jpg") no-repeat center center;
}

form {
  max-width: 400px;
  margin: auto;
}

button,mat-form-field,mat-option,mat-select{
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

.field-register {
  width: 100%;
}

.center {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
}

@media screen and (max-width: 650px) {
  .logo {
    background: url("../../images/logomin.jpg") no-repeat center center;
  }
}
