<div class=flex>

    <header>

        <div class="logo"></div>

    </header>

    <form class="register-form">
        <mat-form-field class="field-register">
            <input type="text" matInput placeholder="Nome e Cognome" #nameRegister>
        </mat-form-field>
        <mat-form-field class="field-register">
            <input type="email" matInput placeholder="Mail" #emailRegister>
        </mat-form-field>

        <mat-form-field class="field-register">
            <input type="password" matInput placeholder="Password" #passwordRegister>
        </mat-form-field>
    </form>
    <mat-form-field>
        <mat-label>Ruolo</mat-label>
        <mat-select #taskRegister>
            <mat-option *ngFor="let task of tasks" [value]="task.value">
                {{task.viewValue}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <button class="btn_register" mat-raised-button color="primary"
        (click)="sendRegister(nameRegister.value, emailRegister.value, passwordRegister.value, taskRegister.value)">
        REGISTRATI
    </button>

</div>